# Ignore env folder
env/
*/__pycache__/
1.flask-hello-world/flask-hello-world/
htmlcov/
.coverage
jquery*
bootstrap*
*.cpython*
# 3.flask-blog/__pycache__/
# 4.flasktaskr/__pycache__/
# 5.error-test-migration/__pycache__/
# 6.blueprint/__pycache__
